<% const total = article.house+article.transport+article.healthcare+article.child+article.studies+article.extras %> 


<h1>You have spent a total of <%= total %>€ </h1>
<h3><%= article.house  %>€ in Home related articles.</h3>
<h3><%= article.transport  %>€ in transportation</h3>
<h3><%= article.healthcare  %>€ to take care of yourself  </h3>
<h3><%= article.child  %>€ for your animals and childrens</h3>
<h3><%= article.studies  %>€ for your education</h3>
<h3><%= article.extras  %>€ for little things to distract yourself!</h3>

<br>
<h4>Have a great Day!</h4>