
<div class="form-group">
    <label for="title">Title</label>
    <input required value="<%=article.title%>" type="text" name="title" id="title" class="form-control">
</div>

<div class="form-group">
    <label for="house">House expenses</label>
    <input value="<%=article.house%>" type="number" name="house" id="house" class="form-control">
</div>

<div class="form-group">
    <label for="transport">transportation expenses</label>
    <input value="<%=article.transport%>" type="number" name="transport" id="transport" class="form-control">
</div>

<div class="form-group">
    <label for="healthcare">healthcare expenses</label>
    <input value="<%=article.healthcare%>" type="number" name="healthcare" id="healthcare" class="form-control">
</div>

<div class="form-group">
    <label for="child">Children/animals expenses</label>
    <input value="<%=article.child%>" type="number" name="child" id="child" class="form-control">
</div>

<div class="form-group">
    <label for="studies">Studies expenses</label>
    <input value="<%=article.studies%>" type="number" name="studies" id="studies" class="form-control">
</div>

<div class="form-group">
    <label for="extras">Extras expenses</label>
    <input value="<%=article.extras%>" type="number" name="extras" id="extras" class="form-control">
</div>





<br>

<a href="/" class="btn btn-secondary">Cancel</a>

<button type="submit" class="btn btn-primary">Submit</button>
